<div class="ads-container" style="display: none;">
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8823334702749737"
     crossorigin="anonymous"></script>
  <!-- MarvinSwift Nav -->
  <ins class="adsbygoogle"
       style="display:block"
       data-ad-client="ca-pub-8823334702749737"
       data-ad-slot="5995798830"
       data-ad-format="auto"
       data-full-width-responsive="true"></ins>
  <script>
    (function() {
      // 嘗試載入廣告
      (adsbygoogle = window.adsbygoogle || []).push({
        callback: function(isAdLoaded) {
          if (isAdLoaded) {
            // 廣告成功載入，顯示容器
            document.querySelector('.ads-container').style.display = 'block';
          }
        }
      });
    })();
  </script>
</div> 