{% if site.footer_scripts %}
{% for script in site.footer_scripts %}
<script src="{{ script | relative_url }}"></script>
{% endfor %}
{% else %}
<script src="{{ '/assets/js/main.min.js' | relative_url }}"></script>
{% endif %}

{% if site.search == true or page.layout == "search" %}
{%- assign search_provider = site.search_provider | default: "lunr" -%}
{%- case search_provider -%}
{%- when "lunr" -%}
{% include_cached search/lunr-search-scripts.html %}
{%- when "google" -%}
{% include_cached search/google-search-scripts.html %}
{%- when "algolia" -%}
{% include_cached search/algolia-search-scripts.html %}
{%- endcase -%}
{% endif %}

{% include analytics.html %}
{% include /comments-providers/scripts.html %}

{% if site.after_footer_scripts %}
{% for script in site.after_footer_scripts %}
<script src="{{ script | relative_url }}"></script>
{% endfor %}
{% endif %}


<!-- 以上是原來的 mm 模組 -->
<!-- 以下是 Marvin 加上去的 -->
<!-- i18n -->
<script>
  document.getElementById('languageButton').addEventListener('click', function () {
    var button = this; // 獲取按鈕本身
    var popup = document.getElementById('languagePopup');

    // 獲取按鈕的位置和尺寸
    var rect = button.getBoundingClientRect();

    // 設置彈窗的位置：按鈕的右下方
    popup.style.position = 'absolute';
    popup.style.left = rect.left + 'px'; // 按鈕右側
    popup.style.top = rect.bottom + 'px'; // 按鈕下方

    popup.style.display = popup.style.display === 'none' ? 'block' : 'none';
  });

  function changeLanguage(lang) {
    console.log('切換語言至：' + lang);
    document.documentElement.lang = lang;
    // 這裡可以添加切換語言的實際功能
    var baseUrl = window.location.origin; // 获取当前网站的根URL
    window.location.href = baseUrl + '/' + lang; // 跳转到指定语言版本的页面
  }
</script>