---
layout: archive
author_profile: true
---

{% include custom/language-switch-button.html %}

{{ content }}

<h3 class="archive__subtitle">{{ site.data.ui-text[page.locale].recent_posts | default: "Recent Posts" }}</h3>

{% assign lang = page.lang %}

{% if paginator %}
<!-- paginator 不 filter lang，這會造成空 page -->
  {% assign posts = paginator.posts %}
{% else %}
  {% assign filtered_posts = site.posts | where: "lang", lang %}
  {% assign posts = filtered_posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
    <p class="entry-meta small-date">{{ post.date | date: "%b %-d, %Y" }}</p>
  {% endfor %}
</div>

{% include paginator.html %}
