---
layout: archive
author_profile: true
---

{{ content }}

<h3 class="archive__subtitle">生活記事</h3>

{% assign posts = site.posts | where: "categories", "life" | where: "lang", page.lang | sort: "date" | reverse %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
    <p class="entry-meta small-date">{{ post.date | date: "%b %-d, %Y" }}</p>
  {% endfor %}
</div>

{% include paginator.html %}
