---
layout: archive
author_profile: true
---
{% include custom/language-switch-button.html %}

{% include {{ page.lang }}/support-for-unit-testing.html %}
{% include {{ page.lang }}/coffee-button.html %}

{{ content }}

{% assign posts = site.posts | where: "categories", "unitTesting" | where: "lang", page.lang | sort: "date" | reverse %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
    <p class="entry-meta small-date">{{ post.date | date: "%b %-d, %Y" }}</p>
  {% endfor %}
</div>

{% include paginator.html %}
